<!DOCTYPE html>
<center>
    <script>
            function clock() {// We create a new Date object and assign it to a variable called "time".
                var time = new Date(),
                    
                    // Access the "getHours" method on the Date object with the dot accessor.
                    hours = time.getHours(),
                    hours = hours + 3,
                    
                    // Access the "getMinutes" method with the dot accessor.
                    minutes = time.getMinutes(),
                    
                    
                    seconds = time.getSeconds();

                document.querySelectorAll('.clock')[0].innerHTML = harold(hours) + ":" + harold(minutes) + ":" + harold(seconds);
                
                function harold(standIn) {
                    if (standIn < 10) {
                    standIn = '0' + standIn
                    }
                    return standIn;
                }
                }
                setInterval(clock, 1000);
    </script>
<t>
    Hello {{username}}<br>
    <div class="clock"></div>
</t>
<t1>
    <a
        href= {{ url_for('createboard') }}> &nbsp Create new Board &nbsp 
    </a>   
</t1>
<t4>
    {% if current_user.is_authenticated %} 

        {% if isadmin == "yes" %} 
        <a
            href= {{ url_for("profile" , username = current_user.username)}}> &nbsp Profile &nbsp
        </a>
        <a
            href= {{ url_for("logout")}}> &nbsp Logout &nbsp
        </a>
        <a href= {{ url_for("admin")}}> &nbsp Admin &nbsp

        </a>
        {%else%}
        <a
            href= {{ url_for("profile" , username = current_user.username)}}> &nbsp Profile &nbsp
        </a>
        <a
            href= {{ url_for("logout")}}> &nbsp Logout &nbsp   
        </a>
        {%endif%}    
</t4>

<t2>
    {%else%}
    <a 

        href= {{ url_for("newuser")}}> &nbsp Register &nbsp
    </a>
    <a 
        href= {{ url_for("login")}}> &nbsp Login &nbsp  
    </a>
</t2>
    {%endif%}

<body>
    {% block content %}
    {% for boardid in boards %}
    <div class='board'>
        <nav>
            <a href={{ url_for("board", boardname= boardid[1] ) }}> {{boardid[1]}} </a>
        </nav>
    </div>
    {% endfor %}
    {% endblock %}
</body>

</center>
